---

---
<style>
  main {
    width: 82%;
    height: calc(100% - 70px);
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
  }

</style>


<main>
  <h3>i am the interactive cv page</h3>
</main>