---
import NavBar from "../components/common/NavBar.astro"
import SideBar from "../components/common/SideBar.astro"
import InteractiveCV from "../components/interactive_cv/InteractiveCV.astro"

---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Boyd Thurston|Interactive CV</title>
</head>

<body>
	<NavBar active={3}/>
	<div class="flexContainer">
		<SideBar />
		<InteractiveCV />
	</div>
</body>

</html>

<style>
	body {
		height: 100vh;
		width: 100vw;
		overflow: hidden;
	}

	.flexContainer {
		height: 100%;
		display: flex;
		flex-direction: row;
	}
</style>
<style global>

	* {
		margin: unset;
		padding: unset;
	}

</style>
